# THEME           immaterial
                
# DESCRIPTION     The immaterial theme aims to be simple and elegant, taking
#                 cues from the Material Design style platform.
#                 It aims to support as many targets as possible by using
#                 very few hardcoded values.
#                 While the theme does not set a specific font it does
#                 rely on the current user font being any one of a few
#                 in a supported range - 18, 24, 32, 48, 64, and 96.

# AUTHOR          Hayden Pearce
# CONTACT EMAIL   saint.lascivious@gmail.com
# FREENODE IRC    [Saint]


background color: FFFFFF
backdrop: -
font: /.rockbox/fonts/18-Roboto-Regular.fnt
foreground color: 000000
iconset: /.rockbox/icons/18x18-immaterial_icons.bmp
line selector start color: FFC000
line selector text color: 000000
list separator color: B4C3D3
sbs: /.rockbox/wps/immaterial.sbs
selector type: bar (color)
touchscreen mode: point
viewers iconset: /.rockbox/icons/18x18-immaterial_icons_viewers.bmp
wps: /.rockbox/wps/immaterial.wps